@model T2204M_2.Models.ProductViewModel
@{
    ViewData["Title"] = "Product Create page";
   

}
<h1>Create Product Page</h1>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Price)
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Description)
    </div>
    <div class="mb-3">
        <label>Upload</label>
        <input type="file" name="Image" class="form-control" />
        @Html.ValidationMessageFor(m=>m.Image)
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, ViewData["Category"] as SelectList, "- Select Category -", new { @class = "form-control" })

        @Html.ValidationMessageFor(m=>m.CategoryId)
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}
